#gameContainer{
    background-color: var(--black-2);
    border: 30px solid var(--black);
    display: flex;
    align-items: flex-end;
}

.board {
    display: grid;
    grid-template-rows:    repeat(auto-fit, 350px);
    grid-template-columns: repeat(auto-fit , 100px);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    align-items: flex-end;
}

.boardCol {
    padding: 5px;
    background-color: var(--black-3);
}

.piece {
    height: 90px;
    background-image: url("/style/images/ufo.png");
    background-size: contain;    
  }

.piece:hover{
    background-color: rgb(42, 42, 42)
}

.highlited-piece{
    filter: brightness(0.5);
}