:root{
    --green: #6aaa64;
    --darkendGreen: #538d4e;
    --BeeYellow: #f7da21;
    --gray: #86888a;
    --gray-2: #dcdcdc;
    --gray-3: #cccccc;
    --white: #fff;
    --black: #212121;
    --black-2: #121212;
    --black-3: #363636;
}

body{
    background-color: var(--black);
    margin: 0;
    font-family: "Roboto", sans-serif;
}

header{
    border-bottom: 2px solid var(--gray-2);   
}

#headerWrapper{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    height: 90px;
}

.headerIcon{
    width: 70%;
    margin: 7px;
}

#icons{
    display: flex;
    align-items: center;
    margin-right: 2%;
    width: 20%;
}

#logo{
    height: 50%;
    width: 200px;
    display: flex;
    margin-left: 2%;
    position: relative;
    top: 20%;
}

#logo h1{
    font-family: "Noto Sans Mono", monospace;
    color: var(--white);
    letter-spacing: 0.2em;
}

#logo h1{
    display: inline-block;
    margin-block: 0;
}

#t1{
    background-color: var(--BeeYellow);
    text-align: right;
}

#t1 h1{
    width: 1em;
}

#t2{
    background-color: var(--green);
    text-align: center;
    width: 3.5em;
}

#t2 h2{
    width: 2em;
}

#configuracoes{
    color: var(--white);
    padding: 2%;
}

label{
    font-size: 1.2em;
}

input,select, button{
    box-sizing: border-box;
    background-color: var(--black);
    color: var(--white);
    padding: 2px;
    border: 1px solid var(--black-2);
    border-radius: 5px;
}

#configuracoes button{
    padding: 3px;
    width: 100px;
}

button:hover, button:active{
    background-color: var(--black-3);
}


/*--------------- AUTHENTICATION STYLE ---------------------------*/

.authentication{
    display: flex;
    justify-content:space-around;
    height: 100%;
    padding: 5px;
    width: 25%;
    background-color: rgba(6, 6, 5, 0.5);
    color: var(--white);
    font-size: 1.5em;
    text-align: center;
    position: fixed;
    right: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.authentication div {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0.9rem 0.7rem;
  }

  .authentication input{
    font-size: 0.8em;
    width: 75%;
  }
 
  .login_button {
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    padding: 0.9rem 2.5rem;
    background-color: var(--BeeYellow);
    color: var(--white);
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 80%;
    width: 50%;
    height: 4%;
  }



/*-----------------------------------------*/

/*--------------- Configuration STYLE ---------------------------*/

.config{
    display: flex;
    justify-content:space-around;
    height: 100%;
    padding: 5px;
    width: 25%;
    background-color: rgba(6, 6, 5, 0.5);
    color: var(--white);
    font-size: 1.5em;
    text-align: center;
    position: fixed;
    float: left;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.actionGame{
    background-color: var(--black-2);
    border-top: 10px solid var(--black);
    color: var(--white);
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}  

.actionGame label, .actionGame input{
    display: inline;
}

#start{
    background-color: var(--green);
    color: var(--white);
    margin: 2%;
    border: 1px solid var(--black-2); 
    font-weight: bold;
    width: 50%;
    height: 4%;

}

#giveup{
    background-color: var(--BeeYellow);
    color: var(--white);
    margin: 2%;
    border: 1px solid var(--black-2);
    font-weight: bold;
    width: 50%;
    height: 4%;
}