:root{
    --green: #6aaa64;
    --darkendGreen: #538d4e;
    --BeeYellow: #f7da21;
    --gray: #86888a;
    --gray-2: #dcdcdc;
    --gray-3: #cccccc;
    --white: #fff;
    --black: #212121;
    --black-2: #121212;
    --black-3: #363636;
}

body{
    background-color: var(--black);
    margin: 0;
}

header{
    border-bottom: 2px solid var(--gray-2);   
}

#headerWrapper{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
}

.headerIcon{
    width: 40px;
    margin: 7px;
}

#icons{
    display: flex;
    align-items: center;
}

#logo{
    font-family: Noto Sans Mono, monospace;
    color: var(--white);
    letter-spacing: 0.2em;
    display: inline-block;
}

#logo div,p{
    display: inline-block;
    margin: 0;
    margin-block: 0;
}

#l1{
    background-color: var(--BeeYellow);
    width: 1em;
    text-align: right;
}

#l2{
    background-color: var(--green);
    width: 1.8em;
    text-align: center;
}

#configuracoes{
    color: var(--white);
    padding: 2%;
}

.board{
    height: 400px;
    width: auto;
    background-color: var(--black-3);
    border: 30px solid var(--black);
}

label{
    font-size: 1.2em;
}

input,select, button{
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    background-color: var(--black);
    color: var(--white);
    padding: 2px;
    border: 1px solid var(--black-2);
    border-radius: 5px;
}

#configuracoes button{
    padding: 3px;
    width: 100px;
}

button:hover, button:active{
    background-color: var(--black-3);
}

.select-selected {
    background-color: DodgerBlue;
  }