#classificacoes th,td{
    font-size: 1.2em;
    text-align: center;
}

#classificacoes table{
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-spacing: 0;
}

#classificacoes thead{
    background-color: var(--black-3);
}

#ajuda ul{
    font-size: 1.2em;
    text-align: justify;
}

#ajuda h2{
    text-align: center;
}

.window{
    width: 50%;
    height: 400px;
    padding: 3%;
    display: none;
    float: left;
    position: fixed;
    left: 20%;
    top: 10%;
    background-color: rgba(6, 6, 5, 0.9);
    color: var(--white);
}

.window button{
    float: right;
    height: 5%;
    width: 5%; 
}

